/* Capsule Framework by Marcos López C. */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ddd;
	overflow: hidden;
}

#capsule {
	display: block;
	background-color: #fff;
	border: 1px solid #999;

	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
